@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c4d7e4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3d1f1;
}

.prevent-select {
  -webkit-user-select: none;
  -md-user-select:none;
  user-select:none;
}

.handle {
    background: rgb(203,66,252);
    background: linear-gradient(90deg, rgba(203,66,252,1) 22%, rgba(252,91,216,1) 79%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.link {
  color: blue;
}

#tagContainer {
  transform: translate(-50%, -50%);
}